.header{
    height: 100%;
    /* width: 100%; */
}
.graph-2{
    padding: 10px 20px;
}

.chart-analytick{
   box-shadow:  0 0 4px rgba(0, 0, 0, 0.1),  0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px;
}
.heading{
height: 20px;
display: flex;
justify-content: center;
align-items: center;
padding-top: 2rem;
}

table {
    width: 100%;
}

th,
td {
    padding: 6px;
    font-size: 0.85rem;
}

table,
td,
th {
    border: 1px solid #424141;
    border-collapse: collapse;
    text-align: left;
}

th {
    background-color:rgb(9, 136, 240);
    color: beige;
}

td .action {
    display: flex;
    align-items: center;
    gap: 10px;
}

td .action>* {
    cursor: pointer;
}

table tbody .serial {
    width: 80px;
}

table tbody tr:nth-child(2n) {
    background: #c5d4e0;
}